//
   Created by oscar on 21/07/16.

extends layout
block content
    h1 Notification Details
    p Numero: #{info["number"]}
    br
    p Cliente: #{info["client"]}
    br
    p Producto: #{info["product"]}
    br
    p Texto: #{info["text"]}

